.preloader {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: #191919;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 0;
  left: 0;
  z-index: 1050;
  transition: opacity 0.6s ease-in-out;
  overflow: hidden;
}

.preloader svg {
  max-width: 100%;
  height: auto;
}

/*first stage of animation*/
.preloader_start {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  visibility: visible;
  opacity: 1;
  transition: 0.3s;
  transition-delay: 0.6s;
  padding: 15px;
}

.preloader_start-bottom,
.preloader_start-top {
  transition: 0.2s;
  opacity: 0;
  transform: translateY(30px);
}

.preloader_start-bottom {
  transition-delay: 0.4s;
  margin-top: 80px;
}

.preloader.active .preloader_start-top,
.preloader.active .preloader_start-bottom {
  opacity: 1;
  transform: translateY(0);
}

.preloader.active .preloader_start {
  opacity: 0;
  visibility: hidden;
}

/*second stage of anim*/

.preloader_final-logo {
  position: relative;
  z-index: 1;
  transform: scale(0.3);
  transition: 0.6s;
  opacity: 0;
}

.preloader.active .preloader_final {
  opacity: 1;
  visibility: visible;
}

.preloader_final {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.preloader_final-pill {
  position: absolute;
  opacity: 0;
  transition: 0.3s;
  animation-name: zoomIn;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-delay: 1.4s;
  animation-duration: 1.4s;
}

.preloader.active .preloader_final-pill {
  opacity: 1;
  transition-delay: 1.5s;
}

.preloader.active .preloader_final-logo {
  opacity: 1;
  transition-delay: 1s;
  transform: scale(1);
}

@keyframes zoomIn {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0.8);
  }
}
