.swiper-benefit {
  margin: auto;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.swiper-slide-benefit {
  position: relative;
  width: var(--swiper-width);
  transform: scale(var(--swiper-inactive-scale));
  transition: all 0.5s ease-in-out;
}

.swiper-backface-hidden .swiper-slide-benefit {
  transform: scale(var(--swiper-inactive-scale)) translateZ(0);
}

.swiper-slide-benefit.swiper-slide-active {
  transform: scale(1) !important;
  opacity: 1 !important;
}

.swiper-backface-hidden .swiper-slide-benefit.swiper-slide-active {
  transform: scale(1) translateZ(0) !important;
}

@media only screen and (max-width: 768px) {
  .swiper-slide-benefit {
    width: var(--swiper-tablet-width);
    transform: scale(var(--swiper-mobile-inactive-scale));
  }

  .swiper-backface-hidden .swiper-slide-benefit.swiper-slide-benefit {
    transform: scale(var(--swiper-mobile-inactive-scale)) translateZ(0);
  }
}

@media only screen and (max-width: 480px) {
  .swiper-slide-benefit {
    width: var(--swiper-mobile-width);
  }
}
