@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #ff5c00;
    --secondary: #ff010e;
    --dark: #191919;
    --dark-secondary: #0c0c0c;
    --white: #ffffff;
    --grey: #ffffff26;
    --light-grey: #d9d9d9;
  }

  .dark {
    --purple: #5856d6;
  }
}

@layer components {
  [data-aw-toggle-menu] path {
    @apply transition;
  }
  [data-aw-toggle-menu].expanded g > path:first-child {
    @apply -rotate-45 translate-y-[15px] translate-x-[-3px];
  }

  [data-aw-toggle-menu].expanded g > path:last-child {
    @apply rotate-45 translate-y-[-8px] translate-x-[14px];
  }
}

.dropdown:hover .dropdown-menu {
  display: block;
}

body {
  font-family: 'Oxanium', cursive;
}
