@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Oxanium';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/oxanium-v19-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap;
  font-family: 'Oxanium';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/oxanium-v19-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Oxanium';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/oxanium-v19-latin-500.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Oxanium';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/oxanium-v19-latin-600.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Oxanium';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/oxanium-v19-latin-700.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Oxanium';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/oxanium-v19-latin-800.woff2') format('woff2');
}

@layer base {
  :root {
    --primary: #ff5c00;
    --secondary: #ff010e;
    --dark: #191919;
    --dark-secondary: #0c0c0c;
    --white: #ffffff;
    --grey: #ffffff26;
    --light-grey: #d9d9d9;

    --swiper-image-ratio: 33.3%; /* ratio 16:9 = 56.25% */

    --swiper-width: 400px;
    --swiper-inactive-scale: 0.75; /* makes the other slide smaller */

    /* responsive settings */
    --swiper-mobile-width: 250px;
    --swiper-tablet-width: 300px;
    --swiper-mobile-inactive-scale: 0.95;
  }

  .dark {
    --purple: #5856d6;
  }
}

@layer components {
  [data-aw-toggle-menu] path {
    @apply transition;
  }
  [data-aw-toggle-menu].expanded g > path:first-child {
    @apply -rotate-45 translate-y-[15px] translate-x-[-3px];
  }

  [data-aw-toggle-menu].expanded g > path:last-child {
    @apply rotate-45 translate-y-[-8px] translate-x-[14px];
  }
}

.dropdown:hover .dropdown-menu {
  display: block;
}

body {
  font-family: 'Oxanium', cursive;
}
