name: Deploy DEV

on: 
  push:
    branches:
    - dev
  workflow_dispatch: 


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install npm dependencies
        run: |
          npm i -ci

      - name: Run build task
        run: |
          npm run build --if-present

      - name: Deploy Build to Server
        run: |
          echo "${{ secrets.DEV_SSH_KEY }}" >> ./key
          chmod 400 ./key
          scp -i ./key -P ${{ secrets.DEV_SSH_PORT }} -r $PWD/dist/* ${{ secrets.DEV_SSH_USERNAME }}@${{ secrets.DEV_SSH_HOST }}:${{ secrets.DEV_SSH_PATH }}
          rm -f ./key
